<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="">
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

    <uses-sdk
        android:minSdkVersion="your_minSdk_version"
        android:targetSdkVersion="your_targetSdk_version"
        android:maxSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/shark_dvour_cropped"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shark_dvour_cropped"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31"
        tools:ignore="Instantiatable">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BluetoothLEController"
            android:exported="true">
            <!--Default Intent Filter-->
        </activity>
        <activity android:name=".MACView"
            android:exported="true">
            <!--Default Intent Filter-->
        </activity>
    <!--Add Other activities like this-->

        <activity android:name=".ContributorsActivity"
            android:exported="true">
            <!--Default Intent Filter-->
        </activity>
    </application>

</manifest>